body {
    font-family: 'Lato', sans-serif;
}



.banner-heading {
    font-size: 75px
}
/* background start */
.masthead {
    background-size: cover; 
    min-height: 30vh ; 
    position: relative;
    color: rgb(255, 236, 236);
    text-shadow: 2px 2px 2px rgba (0, 0, 0, .2);
}
/* backround 1 */

@media (max-width : 768px) {
    .masthead {
        min-height: 50vh;
        width: 50vh;
    }
}

h1 {
    font-size: calc(1.525rem+3.3vw);
}
/* background 2 */

.backgroundicon {
    background-size: cover;
    min-height: 30vh;
    position: relative;
    color: rgb(209, 73, 10);
    text-shadow: 2px 2px 2px rgba (0, 0, 0, .2);
}


.Navbar {background-color: rgb(7, 1, 33);}




.endbackground { 
    background-color: cover;
     min: height 50vh;;
     position: relative;
     color: black;
 text-shadow: 2px 2px 2px rgba (0,0,0,.2);
 }


 @media (max-width : 768px) {
    .endbackground {
        min-height: 50vh;
        width: 50vh;
    }
}